---
version: '3'

networks:
  traefik_network:
    external:
      name: homelabos_traefik

services:
  # Calendar, Contact, and Photo Sync Server
  nextcloud:
    image: nextcloud
    restart: unless-stopped
    networks:
      - traefik_network
    links:
      - nextcloud_db
    volumes:
      - /var/homelabos/nextcloud:/var/www/html
      - /mnt/nas/Documents/Nextcloud:/var/www/html/data
    environment:
      - PGID=0
      - PUID=0
      - MYSQL_DATABASE=nextcloud
      - MYSQL_USER=nextcloud
      - MYSQL_PASSWORD=nextcloud
      - MYSQL_HOST=nextcloud_db
      - NEXTCLOUD_ADMIN_USER={{ default_username }}
      - NEXTCLOUD_ADMIN_PASSWORD={{ default_password }}
    labels:
      - "traefik.enable=true"
      - "traefik.docker.network=homelabos_traefik"
      - "traefik.http.frontend.rule=Host:nextcloud.{{ domain }}"
      - "traefik.http.frontend.headers.customFrameOptionsValue=ALLOW-FROM http://{{ domain }}"
      - "traefik.http.frontend.headers.customFrameOptionsValue=ALLOW-FROM https://{{ domain }}"
      - "traefik.http.protocol=http"
      - "traefik.http.port=80"
      - "traefik.tor.frontend.rule=Host:nextcloud.{{ tor_domain }}"
      - "traefik.tor.protocol=http"
      - "traefik.tor.port=80"

  nextcloud_db:
    image: mariadb:10.2
    networks:
      - traefik_network
    restart: unless-stopped
    volumes:
      - /var/homelabos/nextcloud_db:/var/lib/mysql
    environment:
      - MYSQL_ROOT_PASSWORD=nextcloud
      - MYSQL_PASSWORD=nextcloud
      - MYSQL_DATABASE=nextcloud
      - MYSQL_USER=nextcloud